name: Poetry test

on: 
  push:
  pull_request:
  workflow_dispatch:

jobs:
  install:
    name: Installation des dépendances
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code (lets the action access the repository)
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12.3'
      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Install dependencies
        run: |
          poetry lock
          poetry install
  test:
    name: Lancement des tests d'intégration
    needs: install
    runs-on: ubuntu-latest
    steps:
    - name: Run tests
      run: |
        poetry run test
      